* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Affects everything in the body element */
body {
    background-color: #d9dcd6;
}

/* Affects the header element */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Affects the h1 element in the header element */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Affects the letters seo in the h1 element in the header element */
.header h1 .seo {
    color: #d9dcd6;
}

/* Affects the nav element in the header element */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 75%;
}

/* Affects the ul element in the nav element in the header element */
.header nav ul {
    list-style-type: none;
}

/* Affects the li emelent in the ul element in the nav element in the header element */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Affects the ancor elements */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Affects the paragraph element */
p {
    font-size: 16px;
}

/* Affects the main picture below the header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets the text to float to the left of the screen */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets the text to float to the right of the screen */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Affects the main element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Affects all elements in the side bar aside emelent */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* affects each section element in the side bar aside element */
.benefit-sidebar {
    margin-bottom: 32px;
    color: #ffffff;
}

/* affects each h3 element in the section element in the side bar aside element */
.benefit-sidebar h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* affects each image element in the section element in the side bar aside element */
.benefit-sidebar img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* affects each section element in the main element */
.center-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* affects each image element in the section element in the main element */
.center-article img {
    max-height: 200px;
}

/* affects each h2 element in the section element in the main element */
.center-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* affects each the footer element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* affects the h2 element in the footer element */
.footer h2 {
    font-size: 20px;
}